{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
  <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links mid-gray">
    <h1 class="f2 fw4">{{ .Title }}</h1>
    {{ with .Content }}<div class="mt3">{{ . }}</div>{{ end }}
    {{ partials.Include "breadcrumbs.html" . }}
  </section>
  <aside class="flex-ns mt4 flex-wrap justify-around">
    {{ range .Paginator.Pages }}
      <div class="w-100 w-30-l mb4 relative bg-white">
        {{ .Render "summary" }}
      </div>
    {{ end }}
  </aside>
  {{ template "_internal/pagination.html" . }}
</article>
{{ end }}
